/**
 * =============================================================================
 * ************   Typography 排版   ************
 * =============================================================================
 */
.mdui-typo {
  line-height: 1.8;
  word-wrap: break-word;
  /* a */
  /* small */
  /* blockquote */
  /* mark */
  /* h1 - h6 */
  /* code */
  /* pre code */
  /* abbr */
  /* ins */
  /* u */
  /* del */
  /* hr */
  /* pre */
  /* kbd */
  /* ul / ol */
  /* img */
}
.mdui-typo address,
.mdui-typo caption,
.mdui-typo cite,
.mdui-typo code,
.mdui-typo dfn,
.mdui-typo th {
  font-style: normal;
  font-weight: 400;
}
.mdui-typo caption,
.mdui-typo th {
  text-align: left;
}
.mdui-typo q:before,
.mdui-typo q:after {
  content: '';
}
.mdui-typo pre,
.mdui-typo code,
.mdui-typo kbd,
.mdui-typo samp,
.mdui-typo pre tt {
  font-family: Consolas, Courier, 'Courier New', monospace;
}
.mdui-typo figcaption {
  font-size: 80%;
  color: rgba(0, 0, 0, .54);
}
.mdui-typo [draggable] {
  cursor: move;
}
.mdui-typo p,
.mdui-typo pre,
.mdui-typo ul,
.mdui-typo ol,
.mdui-typo dl,
.mdui-typo form,
.mdui-typo hr,
.mdui-typo figure,
.mdui-typo table,
.mdui-typo .mdui-table,
.mdui-typo .mdui-table-fluid {
  margin: 0 0 1.2em 0;
}
.mdui-typo a {
  position: relative;
  overflow: hidden;
  color: #ff4081;
  text-decoration: none;
  outline: none;
}
.mdui-typo a:before {
  position: absolute;
  top: auto;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  content: ' ';
  background-color: #ff4081;
  -webkit-transition: all .2s;
          transition: all .2s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.mdui-typo a:hover:before,
.mdui-typo a:focus:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.mdui-typo small {
  font-size: 80%;
}
.mdui-typo blockquote {
  padding-left: 1em;
  margin: 1em 3em 1em 2em;
  font-weight: 400;
  border-left: 4px solid rgba(0, 0, 0, .12);
}
@media only screen and (max-width: 599px) {
  .mdui-typo blockquote {
    margin: 1em 0;
  }
}
.mdui-typo blockquote footer {
  font-size: 86%;
  color: rgba(0, 0, 0, .54);
}
.mdui-typo mark {
  padding: 2px;
  margin: 0 5px;
  background: #fffdd1;
  border-bottom: 1px solid #ffedce;
}
.mdui-typo h1,
.mdui-typo h2,
.mdui-typo h3,
.mdui-typo h4,
.mdui-typo h5,
.mdui-typo h6 {
  margin-top: 1.2em;
  margin-bottom: .6em;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.35;
  color: inherit;
}
.mdui-typo h1 small,
.mdui-typo h2 small,
.mdui-typo h3 small,
.mdui-typo h4 small,
.mdui-typo h5 small,
.mdui-typo h6 small {
  font-size: 65%;
  font-weight: 400;
  line-height: 1;
  color: rgba(0, 0, 0, .54);
}
.mdui-typo h1 {
  font-size: 2em;
}
.mdui-typo h2 {
  font-size: 1.8em;
}
.mdui-typo h3 {
  font-size: 1.6em;
}
.mdui-typo h4 {
  font-size: 1.4em;
}
.mdui-typo h5 {
  font-size: 1.2em;
}
.mdui-typo h6 {
  font-size: 1.1em;
}
.mdui-typo code {
  padding: 2px 6px;
  color: #c7254e;
  background-color: #f7f7f9;
  border-radius: 2px;
}
.mdui-typo pre code {
  padding: 0;
  font-size: inherit;
  line-height: 1.7;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}
.mdui-typo abbr[title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted;
}
.mdui-typo ins {
  text-decoration: none;
  border-bottom: 1px solid ;
}
.mdui-typo u {
  text-decoration: none;
  border-bottom: 1px solid;
}
.mdui-typo del {
  text-decoration: line-through;
}
.mdui-typo hr {
  height: 10px;
  margin-bottom: .8em;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}
.mdui-typo pre {
  padding: 12px 16px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 2px;
}
.mdui-typo kbd {
  padding: 2px 6px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 2px;
}
.mdui-typo ul {
  padding-left: 2em;
  list-style: disc;
}
.mdui-typo ol {
  padding-left: 2em;
  list-style: decimal;
}
.mdui-typo li ul,
.mdui-typo li ol {
  margin: .8em 0;
}
.mdui-typo li ul {
  list-style: circle;
}
.mdui-typo img {
  max-width: 100%;
}