<error>
	<template>
		<mu-card>
			<mu-card-title title="Oops,there's no page here." sub-title="404 NOT FOUND">
			</mu-card-title>
			<mu-card-text>
				Maybe you can do something else.
				<br/>
				Like search for your want.
			</mu-card-text>
			<mu-card-actions>
				<mu-text-field hint-text="Search something" type="text" icon="search"/>
			</mu-card-actions>
		</mu-card>
	</template>
</error>

<header-drawer>
	<template>
		<mu-appbar :title="$route.params.id">
			<mu-icon-button icon="menu" slot="left" @click="toggle()"/>
			<mu-icon-button icon="expand_more" slot="right"/>
		</mu-appbar>
		<mu-drawer :open="open" :docked="false" @close="toggle()">
			<mu-list class="drawer-list" @item-click="toggle()">
				<mu-list-item title="Main Page" to="/home">
					<mu-icon slot="left" value="home"/>
				</mu-list-item>
				
				<mu-list-item title="Sign in" to="/signin">
					<mu-icon slot="left" value="person"/>
				</mu-list-item>
				
				<mu-list-item title="Sign up" to="/signup">
					<mu-icon slot="left" value="person"/>
				</mu-list-item>
				
				<mu-list-item title="Settings" to="/settings">
					<mu-icon slot="left" value="settings"/>
				</mu-list-item>
			</mu-list>
		</mu-drawer>
	</template>
	<script>
		{
			data() {
				return {
					open: false
				}
			},
			methods: {
				toggle() {
					this.open = !this.open;
				}
			}
		}
	</script>
	<style>
		.drawer-list .router-link-active {
			font-weight: 500;
		}
	</style>
</header-drawer>

<settings>
	<template>
		<mu-list>
			<mu-sub-header>Control</mu-sub-header>
			
			<mu-list-item title="Restart" @click="toggleRestartDialog()">
				<mu-icon slot="left" value="refreshing"/>
			</mu-list-item>
			
			<mu-list-item title="Reset" title-class="warning-text" @click="toggleResetDialog()">
				<mu-icon slot="left" value="warning" class="warning-text"/>
			</mu-list-item>
			
			<mu-divider />
			<mu-sub-header>SSID & Password</mu-sub-header>
			
			<mu-list-item disable-ripple>
				<mu-text-field hint-text="SSID" type="text" label="SSID" full-width/>
				<mu-text-field hint-text="Password" type="password" label="Password" full-width/>
			</mu-list-item>
			
			<mu-divider />
			<mu-sub-header>Mode</mu-sub-header>
			
			<mu-list-item disable-ripple>
				<mu-select-field v-model="game1">
					<mu-menu-item v-for="text,index in list" :key="index" :value="index" :title="text" />
				</mu-select-field>
			</mu-list-item>
			
			<mu-divider />
			<mu-sub-header>Infomation</mu-sub-header>
			
			<mu-list-item title="Mac:" :after-text="mac">
			</mu-list-item>
			<mu-list-item title="IP:" :after-text="ip">
			</mu-list-item>
			<mu-list-item title="Status:" :after-text="status">
			</mu-list-item>
			<mu-list-item title="Hardware Serial Number:" :after-text="hwsn">
			</mu-list-item>
			<mu-list-item title="Software Version:" :after-text="swv">
			</mu-list-item>
		</mu-list>
		<mu-dialog :open="restartO" title="REStart???" @close="toggleRestartDialog()">
			Are you sure to restart your device?
			<mu-flat-button slot="actions" @click="toggleRestartDialog()" primary label="取消"/>
			<mu-flat-button slot="actions" primary @click="restart()" label="确定"/>
		</mu-dialog>
		<mu-dialog :open="resetO" title="Reset???" @close="toggleResetDialog()" title-class="warning-text" body-class="warning-text">
			Are you sure to reset your device?
			<mu-flat-button slot="actions" @click="toggleResetDialog()" label="取消"/>
			<mu-flat-button slot="actions" primary @click="reset0()" label="确定" class="warning-text"/>
		</mu-dialog>
		<mu-dialog :open="resetOd" title="Last WARNING!!!" @close="toggleResetdDialog()" title-class="warning-text" body-class="warning-text">
			Are you sure to reset your device?
			<mu-flat-button slot="actions" @click="toggleResetdDialog()" label="取消"/>
			<mu-flat-button slot="actions" primary @click="reset()" label="确定" class="warning-text"/>
		</mu-dialog>
	</template>
	<script>
		{
			data () {
				return {
					restartO: false,
					resetO: false,
					resetOd: false,
					game1: 0,
					list: ['AP','STA'],
					mac: "00-00-00-00-00",
					ip: "192.168.1.111",
					status: "Online, Local",
					hwsn: "000001", // Hardware Serial Number
					swv: "v0.1" // Software Version
				}
			},
			methods: {
				toggleRestartDialog() {
					this.restartO = !this.restartO;
				},
				toggleResetDialog() {
					this.resetO = !this.resetO;
				},
				toggleResetdDialog() {
					this.resetOd = !this.resetOd;
				},
				reset0() {
					this.resetO = false;
					this.resetOd = true;
				},
				restart() {
					this.restartO = false;
				},
				reset() {
					this.resetOd = false;
				}
			}
		}
	</script>
	<style>
		.warning-text {
			color: #FF0000
		}
	</style>
</settings>
<sign-in>
	<template>
		<div class="sign-in">
			<mu-text-field hint-text="User Name" type="text" label="SSID" full-width/>
			<mu-text-field hint-text="Password" type="password" label="Password" full-width/>
			<mu-raised-button label="Sign in"  secondary full-width/>
			<router-link to="/forgetpwd">Forget the password</router-link>
		</div>
	</template>
	<style>
		.sign-in {
			width: -moz-fit-content;
			width:-webkit-fit-content;
			width: fit-content;
			
			max-width: 
			margin-left: auto;
			margin-right: auto;
		}
	</style>
</sign-in>
<sign-up>
</sign-up>