<error>
	<template>
		<mu-card>
			<mu-card-title title="Oops,there's no page here." sub-title="404 NOT FOUND">
			</mu-card-title>
			<mu-card-text>
				Maybe you can do something else.
				<br/>
				Like search for your want.
			</mu-card-text>
			<mu-card-actions>
				<mu-text-field hint-text="Search something" type="text" icon="search"/>
			</mu-card-actions>
		</mu-card>
	</template>
</error>

<header-drawer>
	<template>
		<mu-appbar :title="$route.params.id">
			<mu-icon-button icon="menu" slot="left" @click="toggle()"/>
			<mu-icon-button icon="expand_more" slot="right" ref="more" @click="toggleMore()"/>
		</mu-appbar>
		<mu-drawer :open="open" :docked="false" @close="toggle()">
			<mu-list class="drawer-list" @item-click="toggle()">
				<mu-list-item title="Main Page" to="/devices">
					<mu-icon slot="left" value="home"/>
				</mu-list-item>
				
				<mu-list-item title="Sign in" to="/signin">
					<mu-icon slot="left" value="person"/>
				</mu-list-item>
				
				<mu-list-item title="Sign up" to="/signup">
					<mu-icon slot="left" value="person"/>
				</mu-list-item>
				
				<mu-list-item title="Settings" to="/settings">
					<mu-icon slot="left" value="settings"/>
				</mu-list-item>
			</mu-list>
		</mu-drawer>
		<mu-popover :trigger="trigger" :open="moreOpen" @close="handleClose">
			<mu-menu>
				<mu-menu-item v-for="(item, index) in menuItem" :key="index" v-bind="item"/>
			</mu-menu>
		</mu-popover>
	</template>
	<script>
		{
			props: {
				menuItem: {
					type: Array,
					required: true
				}
			},
			data() {
				return {
					open: false,
					moreOpen: false,
					trigger: null,
				}
			},
			methods: {
				toggle() {
					this.open = !this.open;
				},
				toggleMore() {
					this.moreOpen = !this.moreOpen;
				},
				handleClose() {
					this.moreOpen = false;
				}
			},
			mounted() {
				this.trigger = this.$refs.more.$el;
			}
		}
	</script>
	<style>
		.drawer-list .router-link-active {
			font-weight: 500;
		}
	</style>
</header-drawer>

<settings>
	<template>
		<mu-list>
			<mu-sub-header>Control</mu-sub-header>
			
			<mu-list-item title="Restart" @click="toggleRestartDialog()">
				<mu-icon slot="left" value="refreshing"/>
			</mu-list-item>
			
			<mu-list-item title="Reset" title-class="warning-text" @click="toggleResetDialog()">
				<mu-icon slot="left" value="warning" class="warning-text"/>
			</mu-list-item>
			
			<mu-divider />
			<mu-sub-header>SSID & Password</mu-sub-header>
			
			<mu-list-item disable-ripple>
				<mu-text-field hint-text="SSID" type="text" label="SSID" full-width/>
				<mu-text-field hint-text="Password" type="password" label="Password" full-width/>
			</mu-list-item>
			
			<mu-divider />
			<mu-sub-header>Mode</mu-sub-header>
			
			<mu-list-item disable-ripple>
				<mu-select-field v-model="game1">
					<mu-menu-item v-for="text,index in list" :key="index" :value="index" :title="text" />
				</mu-select-field>
			</mu-list-item>
			
			<mu-divider />
			<mu-sub-header>Infomation</mu-sub-header>
			
			<mu-list-item title="Mac:" :after-text="mac">
			</mu-list-item>
			<mu-list-item title="IP:" :after-text="ip">
			</mu-list-item>
			<mu-list-item title="Status:" :after-text="status">
			</mu-list-item>
			<mu-list-item title="Hardware Serial Number:" :after-text="hwsn">
			</mu-list-item>
			<mu-list-item title="Software Version:" :after-text="swv">
			</mu-list-item>
		</mu-list>
		<mu-dialog :open="restartO" title="REStart???" @close="toggleRestartDialog()">
			Are you sure to restart your device?
			<mu-flat-button slot="actions" @click="toggleRestartDialog()" primary label="取消"/>
			<mu-flat-button slot="actions" primary @click="restart()" label="确定"/>
		</mu-dialog>
		<mu-dialog :open="resetO" title="Reset???" @close="toggleResetDialog()" title-class="warning-text" body-class="warning-text">
			Are you sure to reset your device?
			<mu-flat-button slot="actions" @click="toggleResetDialog()" label="取消"/>
			<mu-flat-button slot="actions" primary @click="reset0()" label="确定" class="warning-text"/>
		</mu-dialog>
		<mu-dialog :open="resetOd" title="Last WARNING!!!" @close="toggleResetdDialog()" title-class="warning-text" body-class="warning-text">
			Are you sure to reset your device?
			<mu-flat-button slot="actions" @click="toggleResetdDialog()" label="取消"/>
			<mu-flat-button slot="actions" primary @click="reset()" label="确定" class="warning-text"/>
		</mu-dialog>
	</template>
	<script>
		{
			data () {
				return {
					restartO: false,
					resetO: false,
					resetOd: false,
					game1: 0,
					list: ['AP','STA'],
					mac: "00-00-00-00-00",
					ip: "192.168.1.111",
					status: "Online, Local",
					hwsn: "000001", // Hardware Serial Number
					swv: "v0.1" // Software Version
				}
			},
			methods: {
				toggleRestartDialog() {
					this.restartO = !this.restartO;
				},
				toggleResetDialog() {
					this.resetO = !this.resetO;
				},
				toggleResetdDialog() {
					this.resetOd = !this.resetOd;
				},
				reset0() {
					this.resetO = false;
					this.resetOd = true;
				},
				restart() {
					this.restartO = false;
				},
				reset() {
					this.resetOd = false;
				}
			}
		}
	</script>
	<style>
		.warning-text {
			color: #FF0000
		}
	</style>
</settings>
<sign-in>
	<template>
		<mu-paper class="sign-in" :z-depth="1">
			<mu-content-block>
			<mu-text-field hint-text="User Name" type="text" label="SSID" full-width/>
			<mu-text-field hint-text="Password" type="password" label="Password" full-width/>
			<mu-raised-button label="Sign in"  secondary full-width/>
			<router-link to="/forgetpwd">Forget the password</router-link>
			</mu-content-block>
		</mu-paper>
	</template>
	<style>
		.sign-in {
			width: -moz-fit-content;
			width: -webkit-fit-content;
			width: fit-content;
			
			margin-left: auto;
			margin-right: auto;
		}
	</style>
</sign-in>
<sign-up>
</sign-up>
<device-list>
	<template>
		<draggable element="mu-grid-list" v-model="tiles" :options="{draggable:'.item'}" :component-data="getComponentData()">
				<div class="mu-grid-tile item" v-for="(tile, index) in tiles" :key="index" style="width: 33.3333%; padding: 2px; height: 120px;">
					<transition name="fade">
						<img src="/data/light.jpg" v-if="imageType" key="light" @click="toggleImage()"/>
						<img src="/data/dark.jpg" v-else key="dark" @click="toggleImage()"/>
					</transition>
					<div class="mu-grid-tile-titlebar">
						<div class="mu-grid-tile-title-container">
							<div class="mu-grid-tile-title">
								<span>{{tile.title}}</span>
							</div>
						</div>
					</div>
				</div>
		</draggable>
		<mu-float-button icon="add" class="fab-fixed" to="/adddevice"/>
	</template>
	<script>
		{
			data() {
				return {
					imageType: 1,
					tiles: [
						{title:11},
						{title:11},
						{title:11},
						
					],
				}
			},
			methods: {
				toggleImage() {
					this.imageType = !this.imageType;
				},
				getComponentData() {
					return {
						props: {
							cols: 3,
							cellHeight: 120
						}
					}
				}
			}
		}
	</script>
	<style>
		.fade-enter-active, .fade-leave-active {
			color: #f00;
			transition: opacity .3s ease;
		}
		.fade-enter, .fade-leave-to {
			opacity: 0;
		}
		.fab-fixed {
			position: fixed !important;
			right: 16px;
			bottom: 16px;
		}
		@media (min-width: 1024px) {
			.fab-fixed {
				right: 24px;
				bottom: 24px;
			}
		}
	</style>
</device-list>
<add-device>
	<template>
	</template>
</add-device>