<template id="m-fab-menu">
	<div class="mdui-fab-wrapper">
		<button class="mdui-fab" :class=cls>
			<m-icon>{{native}}</m-icon>
			<m-icon class="mdui-fab-opened" v-if="exist(opened)">{{opened}}</m-icon> 
	</button> 
	<slot v-if="exist(advanced)">
	</slot>
	<div v-else class="mdui-fab-dial">
		<m-fab v-for="text in dial" mini ripple>{{text}}</m-fab>
	</div> 
	</div>
</template>

<template id="m-panel-item">
<div class="mdui-panel-item" :class="cls">
	<div class="mdui-panel-item-header">
		<div class="mdui-panel-item-title">{{  title  }}</div>
		<div class="mdui-panel-item-summary" v-if="exist(summary)">{{  summary  }}</div>
		<m-icon class="mdui-panel-item-arrow" v-if="exist(arrow)">keyboard_arrow_down</m-icon>
	</div>
	<div class="mdui-panel-item-body">
		<slot>
		</slot>
	</div>
</div>
</template>

<template id="m-chip">
<div class="mdui-chip" v-if="!closed">
	<span class="mdui-chip-icon" v-html="iconcontent">
		
	</span>
	<span class="mdui-chip-title">
		<slot>
		</slot>
	</span>
	<span class="mdui-chip-delete" v-if="exist(del)" v-on:click="close">
		<i class="mdui-icon material-icons">cancel</i>
	</span>
</div>
</template>

<template id="m-dialog">
<div class="mdui-dialog" :class="cls">
	<slot v-if="exist(advanced)">
	</slot>
	<div class="mdui-dialog-title" v-if="exist(title) && !exist(advanced)">
		{{ title }}
	</div>
	<div class="mdui-dialog-content" v-if="!exist(advanced)">
		<slot>
		</slot>
	</div>
	<div class="mdui-dialog-actions" :class="{'mdui-dialog-actions-stacked': exist(stacked)}" v-if="!exist(advanced)">
		<slot name="actions">
		</slot>
	</div>
</div>
</template>

<template id="m-textfield">
<div class="mdui-grid-tile">
	<img :src="img"/>
	<div class="mdui-grid-tile-actions" v-if="exist(title, subtitle)">
		<div class="mdui-grid-tile-text">
			<div class="mdui-grid-tile-title" v-if="exist(title)">
			</div>
			<div class="mdui-grid-tile-subtitle" v-if="">
			</div>
		</div>
		<div class="mdui-grid-tile-buttons">
			<button class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">star_border</i></button>
		</div>
	</div>
</div>
</template>
